<style>
  body { background-color:cadetblue; font-family: Arial, Helvetica, sans-serif;
  }
</style>
<body>
  <h1>T채m채n esimerkin tulokset tulevat kyselyst채</h1>
  <h2
    style="font-family:'Courier New', Courier, monospace"
  >localhost:8080/esim1/?p1=ominaisuusA&p2=ominaisuusB</h2>
  <h1>HTTP-metodi on get ja annetut parametrit ovat</h1>
  <h3>Ensimm채inen parametri on
    <b style="font-family:'Courier New', Courier, monospace">
      {{param1}}</b></h3>
  <h3>Ja toinen on
    <b style="font-family:'Courier New', Courier, monospace">{{param2}}</b></h3>
  <br />
  <a href='http://localhost:8080/'>Takaisin aloitussivulle
  </a>
</body>