<body>
  <h1>Tämä on kotisivu, jossa ei käytetä parametreja</h1>
  <ul>
    <li>
      <a
        href='http://localhost:8080/esim1/?p1=ominaisuusA&p2=ominaisuusB'
      >Parametrit kyselystä</a>
    </li>
    <li>
      <a href='http://localhost:8080/esim2/ominaisuusA'>Parametri suoraan
        URL:ssa</a>

    </li>
  </ul>
</body>